<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="fixed_objects" params="
  tf_prefix
  ">
	<link name="control_box">
                <visual>
                        <origin rpy="0 0 0" xyz="0 0 0"/>
                        <geometry>
                                <box size="0.3 0.5 0.5"/>
                        </geometry>
                        <material name="white">
                                <color rgba="0.9 0.9 0.9 1"/>
                        </material>
                </visual>
                <collision>
                        <origin rpy="0 0 0" xyz="0 0 0"/>
                        <geometry>
                                <box size="0.35 0.55 0.55"/>
                        </geometry>
                        <material name="very_red">
                                <color rgba="1 0 0 1"/>
                        </material>
                </collision>
        </link>

        <joint name="platform_to_box" type="fixed">
                <parent link="platform"/>
                <child link="control_box"/>
                <origin xyz="-0.255 0 0.2575" rpy="0 0 0"/>
        </joint>

        <link name="platform">
                <visual>
                        <origin rpy="0 0 0" xyz="0 0 0"/>
                        <geometry>
                                <box size="0.755 0.52 0.015"/>
                        </geometry>
                        <material name="white">
                                <color rgba="0.9 0.9 0.9 1"/>
                        </material>
                </visual>
                <collision>
                        <origin rpy="0 0 0" xyz="0 0 0"/>
                        <geometry>
                                <box size="0.8 0.55 0.02"/>
                        </geometry>
                        <material name="very_red">
                                <color rgba="1 0 0 1"/>
                        </material>
                </collision>
        </link>

        <joint name="mir250_to_platform" type="fixed">
                <parent link="${tf_prefix}surface"/>
                <child link="platform"/>
                <origin xyz="0 0 -0.04" rpy="0 0 0"/>
        </joint>
        <link name="ground_plane">
                <visual>
                        <origin xyz="0 0 -0.001" rpy="0 0 0"/> <!-- Slightly below MiR's base if needed -->
                        <geometry>
                                <box size="5 5 0.001"/> <!-- 5x5 meters, 1 mm thick -->
                        </geometry>
                        <material name="ground_color">
                                <color rgba="0.3 0.3 0.3 1"/>
                        </material>
                </visual>
                <collision>
                        <origin xyz="0 0 -0.001" rpy="0 0 0"/>
                        <geometry>
                                <box size="5 5 0.05"/>
                        </geometry>
                </collision>
        </link>
        <joint name="ground_to_mir" type="fixed">
                <parent link="ground_plane"/>
                <child link="${tf_prefix}world"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>
  </xacro:macro>
</robot>
